* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: #e6e6e6;
    padding: 10px;
    font-family: Arial, sans-serif;
}

.contenedor-principal {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    gap: 10px;
}

.caja {
    background-color: #b5bab9;
}

.contenedor-izquierdo {
    flex: 5;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.contenedor-central {
    flex: 3;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.contenedor-derecho {
    flex: 2;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.caja-grande {
    height: 210px;
}

.caja-horizontal {
    height: 50px;
}

.flex-inferior {
    display: flex;
    gap: 10px;
    height: 270px;
}

.caja-izq-inferior {
    flex: 1;
}

.medio-contenedor {
    flex: 2;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.caja-media-ancha {
    height: calc(50% - 5px);
}

.caja-central-superior {
    height: 120px;
}

.caja-central-media {
    height: 130px;
}

.flex-central-inferior {
    display: flex;
    flex-direction: column;
    gap: 10px;
    flex: 1;
}

.caja-central-inferior {
    flex: 1;
}

.caja-derecha-superior {
    height: 120px;
}

.caja-derecha-medio {
    height: 120px;
}

.caja-derecha-vertical {
    flex: 1;
}